.QuadYouTracker-CMP-Hider {
    opacity: 0 !important;
}

@keyframes QuadYouTracker-progressAnimation {
    from { 
        background-position: 90% 50%;
    }
    to {
        background-position: 0% 50%;
    }
}

.QuadYouTracker-Progress-Dialog-Modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 9999998;
    opacity: 0.5;
}

.QuadYouTracker-Progress-Dialog {
    top: 0;
    left: 0;
    right: 0;
    width: 20em;
    height: 5em;
    margin: auto;
    margin-top: -4rem;
    z-index: 9999999;
    
    border: 0;
    box-shadow: 0 0 3rem black;
    background: #00309a;
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,48,154,1) 40%,rgba(0,22,91,1) 60%);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    position: fixed;
    overflow: hidden;
    top: 0%;
    padding: 1rem;
    opacity: 0;
    user-select: none;
    animation-name: QuadYouTracker-progressAnimation;
    animation-duration: 5s;
    animation-delay: -1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    transition: margin-top 0.3s ease-in-out, opacity 0.4s ease-in-out;
}
.QuadYouTracker-Progress-Dialog h1 {
    color: white;
    font-size: 1.2rem;
    font-family: sans-serif;
    margin: 0;
}
.QuadYouTracker-Progress-Dialog p {
    color: white;
    margin: 0;
    font-size: 0.8rem;
    font-family: sans-serif;
    font-weight: 300;
}

.QuadYouTracker-Progress-Dialog::backdrop {
    transition: background 1s ease-in-out;
    background: transparent;
}
.QuadYouTracker-Progress-Dialog.QuadYouTracker-Progress-Started {
    margin-top: 0;
    opacity: 1;
}
.QuadYouTracker-Progress-Dialog.QuadYouTracker-Progress-Started::backdrop {
    background: rgba(0,20,100,0.25);
}
.QuadYouTracker-Progress-Dialog.QuadYouTracker-Progress-Complete {
    margin-top: -4rem;
    opacity: 0;
}
.QuadYouTracker-Progress-Dialog.QuadYouTracker-Progress-Complete::backdrop {
    background: transparent !important;
}